<!DOCTYPE html>
<html>
<%- include("../header") -%>
<body>

	<form action="auth/login" method="POST" id="login-form">
		<p>Log in to your account</p>
		<input type="text" name="username" placeholder="username"/><br />
		<input type="password" name="password" placeholder="password"/><br />
		<button> Log in!<button><br />
		<small>Need an account?
			Sign up <a href="", class="toggle" id="show-register">here.</a>
		</small>
	</form>

</body>
</html>