<!DOCTYPE html>
<html>
<%- include("../header") -%>
<body>

	<form action="auth/register" method="POST" id="register-form">
		<p>Sign up for an account</p>
		<input type="text" name="username" placeholder="username"/><br />
		<input type="password" name="password" placeholder="password"/><br />
		<button> Sign up!<button><br />
		<small>Already have an account?
			Sign in <a href="", class="toggle" id="show-login">here.</a>
		</small>
	</form>

</body>
</html>