<!DOCTYPE html>
<html>
<%- include("../header") -%>
<body>
   

	<section id="gallery">
      <div class="container">
      	<h1>New Photo Entry Form</h1>
         &nbsp;
         &nbsp;
         <a href="/auth/logout" class="btn btn-outline-secondary btn-sm">Log Out</a>
   		
         <div class="row">
            <div class="col-lg-6 mb-6">
               <div class="card">
                  
                  <form method="POST", action="/photos/<%=userId%>">

                     <div class=form-group>
                        <div class="input-group">
                           <div class="input-group-prepend">
                              <span class="input-group-text">Image URL</span>
                           </div>
                           <input type="url" class="form-control" name="url" placeholder="http://www.example.come/filename.jpg" >
                        </div>
                     </div>

                     <div class=form-group>
                        <div class="input-group">
                           <div class="input-group-prepend">
                              <span class="input-group-text">Title</span>
                           </div>
                           <input type="text" class="form-control" name ="title" placeholder="Photo title" >
                        </div>
                     </div>

                     <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" name="description" rows="6" placeholder="Enter a description here."></textarea>
                     </div>


               		<p class=buttons>
               			<button class="btn btn-secondary btn-sm">Submit Photo</button>
                        <!-- <a href="/freephotos" class="btn btn-outline-secondary btn-sm">All Photos</a> -->
               		</p>

                  </form>

               </div>
            </div>
         </div>
      </div>
   </section>

</body>
</html>