<!DOCTYPE html>
<html>
<head>
	<title>PhotoBase</title>
</head>
<body>
	<h1>Add a New Photo</h1>

	<form method="POST", action="/photos">

		Image URL: <input type="url" name="url" width=100 value="http://www.example.com/filename.jpg"><br/>

		Username: <input type="text" name="username" width=25><br/>

		Title: <input type="text" name="title" width=100><br/>

		Description: <input type="text" name="description" width=150 height=10><br/>

		<button>Submit</button>

	</form>

</body>
</html>