<!DOCTYPE html>
<html>
<%- include("header") -%>
<body>

   <section id="gallery">
      <div class="container">
         <h1>BW PhotoBase Home</h1>
         <div class="row">
            <div class="col-lg-6 mb-6">
               <div class="card">
                  <img class="card-img-top" src="http://c2.staticflickr.com/6/5588/14991687545_5c8e1a2e86_b.jpg" alt="a photo">
                  <div class="card-body">
                     <h5 class="card-title"><a href="/photos%>" >View Photo Gallery</a></h5>
                     <p class="card-text"><a href="/auth/login%>" >Manage your photos</a></p>
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
    </section>

</body>
</html>