<!DOCTYPE html>
<html>
<%- include("header") -%>
<body>

   <section id="gallery">
      <div class="container">
         <h1>BW PhotoBase</h1>
         <div class="row">
            <div class="col-lg-6 mb-6">
               <div class="card">
                  <img class="card-img-top" src="http://c2.staticflickr.com/6/5588/14991687545_5c8e1a2e86_b.jpg" alt="a photo">
                  <div class="card-body">
                     <h5 class="card-title"><a href="/freephotos%>" >View</a> Photo Gallery</h5>
                     <p class="card-text"><a href="/auth/login%>" >Log in</a> to Manage your photos</p>
                     <p class="card-text"><a href="/auth/logout%>" >Log out</a></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
    </section>

</body>
</html>