.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.submit-button {
	display: inline-block;
}

.main-header {
	display: inline-block;
/*	display: flex;
	justify-content: space-between;*/
}