.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.submit-button {
	display: inline-block;
}

.small-buttons-cluster {
	display: inline-block;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.main-header {
	display: inline-block;
/*	display: flex;
	justify-content: space-between;*/
}

a {
	color: black;
}

a:hover {
	text-decoration: none;
	color: darkgrey;
}

a.user-link-from-photo {
	color: darkgrey;
}

a.user-link-from-photo:hover {
	color: black;
}

.login-form {
	margin-top: 15%;
}



